@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-spacing: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  font-size: 2.7rem;
  text-align: center;
  padding: 2rem;
}

header h2 {
  font-size: 1.2rem;
  color: rgb(66, 65, 65);
  opacity: 0.7;
}

.table-container {
  width: 60%;
  margin: 2rem auto;
}

thead {
  font-weight: 700;
  background-color: #1a1f16;
  color: white;
}

td:first-child {
  text-align: left;
  font-weight: 700;
}

tfoot {
  font-weight: 700;
  background-color: #81e979;
}

td {
  text-align: center;
  padding: 0.5rem;
  border: 1px solid white;
}

table {
  width: 100%;
  border: 1px solid #000000;
}

tr:nth-child(even) {
  background-color: #94ecbe;
}

tr:hover {
  opacity: 0.6;
}
